@mixin stroke($width, $color) {
    $width: $width + 0;
    $shadow: 0 0 0 transparent;
    $i: 0;
    $w: 1;

    @while ($i < $width) {
        $i: $i + 1;
        $j: 0;
        $w: $w + 2;

        @for $r from 1 through $w {
            @for $c from 1 through $w {
                $x: $c - ceil($w / 2);
                $y: $r - ceil($w / 2);

                $shadow: #{$shadow}, #{$x}px #{$y}px 0 $color;
            }
        }
    }

    text-shadow: $shadow;
}

@keyframes scroll {
    from {
        left: 600px;
    }
    to {
        left: -3000px;
    }
}

.game.screen {
    
    .message {
        top: 0px;
        left: 600px;
        position: absolute;
        
        color: red;
        font-size: 300px;
        white-space: nowrap;
        @include stroke(2px, #000);
        
        animation-name: scroll;
        animation-duration: 5s;
        animation-timing-function: linear;
    }
    
    .dialogue-box {
        left: 16px;
        right: 16px;
        z-index: 999;
        position: absolute;
        
        overflow: hidden;
        border-radius: 4px;
        background-color: rgba(44, 44, 44, 0.95);
        
        transition-property: top;
        transition-duration: 0.1s;
        
        .portrait {
            width: 64px;
            height: 64px;
        }
        
        .text {
            top: 0px;
            left: 64px;
            bottom: 0px;
            padding: 24px;
            position: absolute;
        }
    }
    
    .achievement-list {
        position: absolute;
        left: 16px;
        top: 50%;
        
        @include stroke(2, #000);
    }
}
