.title.screen {
    padding: 64px;
    text-align: center;

    img {
        width: 100%;
        margin-bottom: 2em;
    }

    .selected {
        color: #C00;
        &::before {
            content: "> ";
        }
    }
}
