@import "./styles/utility/AspectRatioFrame.scss";
@import "./styles/utility/Font.scss";
@include font(TinyWerewolf2);
@include font(TinyWerewolf);

* {
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

html {
    color: #EEE;
    text-transform: uppercase;
    font-family: TinyWerewolf2;
    background-color: #111;
}

.frame {
    @include aspect-ratio(16 * 32, 9 * 32);
}

@import "./styles/render/TitleScreen.scss";
@import "./styles/render/GameScreen.scss";
@import "./styles/render/CreditsScreen.scss";
